<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>students site</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styl/style.css">    
</head>
<body>
    <header>
      <!-- <div><img src="/static/styl/images/photo-1481627834876-b7833e8f5570.jpg"</div>> -->
    <div class="wrapper">
        <div class="logo">
            <img src="https://i.postimg.cc/mg4rWBmv/logo.png" alt="">
        </div>
<ul class="nav-area">
<li><a href="http://localhost:8000/signup/">Signup</a></li>
<li><a href="http://localhost:8000/login/">Login</a></li>
<li><a href="http://localhost:8000/card">ECard</a></li>
<li><a href="http://localhost:8000/subject">Subject</a></li>

</ul>
</div>
<div class="welcome-text">
        <h1>
THE FUTURE <span>START FROM HERE</span></h1>
<<!-- a href="#">Contact US</a> -->
    </div>
</header>
 <p></p>

</body>
</html>

       